name: Python application

on:
  push:
    branches: [ "main", "develop"]
  pull_request:
    branches: [ "main", "develop"]

permissions:
  contents: read

jobs:
  black-test:
    runs-on: ubuntu-latest
    container: python:3.11
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: pip install black
      - name: Check code formatting with black
        run: black ./ --check --verbose --diff --line-length 89

  flake8-test:
    runs-on: ubuntu-latest
    container: python:3.11
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: pip install -r requirements/test.txt
    - name: Check code formatting with flake8
      run: flake8 ./ --config=.flake8